<div class="row section-header">
  <div class="medium-12 columns">
    <h3>{ About }</h3>
  </div>
</div>
<div class="row">
  <div class="medium-8 medium-centered columns">

    <p>Microadventures, mega adventures, driving muscle cars across the USA, Alces Alces, coloured lights, reading, throwing parties. I'm learning to sail, I hope to have my Day Skipper qualification before too long. I escape to Essex at the weekend quite a lot. I like using my hands, so I do a lot of pruning and digging and chopping and burning while I'm there. I run a very small and new meet-up appropriately named ‘AppEaling’ (we meet in Ealing, haha). I love puns. I adore photography; I collect cameras and shoot on film when not working professionally: 35mm, 120, instant, you name it. I also collect rocks. A big fan of electronica/dance. Camping and the great outdoors. Survivalism. I have a new interest every month; I find interests interesting.</p>
  </div>
</div>