<div class="row section-header">
  <div class="medium-12 columns">
    <h3>{ Contact  }</h3>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <a class="centered" href="#">Download my CV</a>
    <a href="mailto:hello@carolinebenn.co.uk?Subject=Hey%20Caroline">hello@carolinebenn.co.uk</a>
    <span>//</span>
    <span class="text">07745 802 686</span>
    <span>//</span>
    <a href="http://twitter.com/caroline_benn" target="_blank">Twitter</a>
    <span>//</span>
    <a href="http://instagram.com/caroline_benn" target="_blank">Instagram</a>
    <span>//</span>
    <a href="http://github.com/carolinebenn" target="_blank">Github</a>
    <span>//</span>
    <a href="https://uk.linkedin.com/in/carolinebenn" target="_blank">LinkedIn</a>
  </div>  
</div> 



<!-- <div class="row">
  <div class="medium-12 columns">
    <a class="twitter-timeline"
      data-widget-id="627106496900427776"
      href="https://twitter.com/Caroline_Benn"
      data-tweet-limit="1"
      data-chrome="noheader nofooter noborders transparent">
    Tweets by @Caroline_Benn
    </a>
  </div>
</div> -->