<div class="row">
  <div class="medium-8 columns">
    <p><a href="mailto:hello@carolinebenn.co.uk?Subject=Hey%20Caroline">hello@carolinebenn.co.uk</a></p>
    <p class="copyright">© Caroline Benn 2016</p>
  </div>
  <div class="medium-4 columns">
    <ul>
      <li><a href="http://twitter.com/caroline_benn" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://instagram.com/caroline_benn" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="http://github.com/carolinebenn" target="_blank"><i class="fa fa-github-square"></i></a></li>
      <li><a href="https://uk.linkedin.com/in/carolinebenn" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
</div>