<div class="row section-header">
  <div class="medium-12 columns">
    <h3>{ Web Development }</h3>
  </div>
</div>

<div id="effect" class="effects clearfix">
  <div class="row projects"> 
    <div id="opensourcefarm" class="medium-6 columns">
      <div class="img">
        <%= image_tag 'opensourcefarm' %>
        <div class="overlay">
          <a href="#" data-reveal-id="opensourcefarmmodal" class="expand">+</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
    </div>


    <div id="somebodybeerme" class="medium-6 columns">
      <div class="img">
        <%= image_tag 'somebodybeerme' %>
        <div class="overlay">
          <a href="#" data-reveal-id="somebodybeermemodal" class="expand">+</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
    </div>

    <!-- opensource.farm -->
    <div id="opensourcefarmmodal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 class="modal-title">opensource.farm</h2>
      <div class="links-centered">  
        <a class="lead" href="opensource.farm" target="_blank">opensource.farm</a>
        <span> // </span>
        <a class="lead" href="https://github.com/CarolineBenn/opensource.farm" target="_blank">Github</a>
      </div>
      <p>opensource.farm is a collaborative hardware and software development community with an aim of improving agricultural practices. Users can upload their project ideas and take some time to go to the farm to work on it in the workspace. It’s all open source, so other developers can help out, too.</p>
      <p><b>Tech used:</b> MEAN stack, Zurb Foundation, MetOfffice DataPoint API</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!-- Somebody Beer Me -->
    <div id="somebodybeermemodal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 class="modal-title">Somebody Beer Me</h2>
      <div class="links-centered">  
        <a class="lead" href="somebodybeerme.com" target="_blank">somebodybeerme.com</a>
        <span> // </span>
        <a class="lead" href="https://github.com/CarolineBenn/SomebodyBeerMe" target="_blank">Github</a>
      </div>
      <p>I thought I’d mix some of my favourite things together (beer &amp; code), so I created Somebody Beer Me. A user can sign up to the site and search for nearby pubs, a useful tool on its own. However, a user can check-in to a pub and let the world know what beer they're drinking by leaving a review. Another user will be able to see what beers pubs have in.  It’s a user-driven site and relies on crowd-sourced data.</p>
      <p><b>Tech used:</b> Ruby on Rails, Devise, JavaScript, jQuery, HTML5, CSS3, SCSS, Google Places API, Zurb Foundation.</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </div>    <!-- End of .row.projects -->

  <div class="row projects"> 
    <div id="the4rum" class="medium-6 columns">
      <div class="img">
        <%= image_tag 'placeholder' %>
        <div class="overlay">
          <a href="#" data-reveal-id="the4rummodal" class="expand">+</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
    </div>



    <div id="duckhunt" class="medium-6 columns">
      <div class="img">
        <%= image_tag 'duckhunt' %>
        <div class="overlay">
          <a href="#" data-reveal-id="duckhuntmodal" class="expand">+</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
    </div>

    <!-- The 4-Rum -->
    <div id="the4rummodal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 class="modal-title">The 4Rum</h2>
        
      <div class="links-centered">
        <a class="lead" href="the-4rum.herokuapp.com" target="_blank">the-4rum.herokuapp.com</a>
        <span> // </span>
        <a class="lead" href="https://github.com/sophiedick/project3" target="_blank">Github</a>
      </div>

      <p>The 4Rum was our GA group project. Being a regular user of a vibrant but terrible UX-wise local online forum, we thought it would be a good idea to update the antiquated site. Our goal was to have one model - the comment model - to be able to perform all seven CRUD actions using Ajax. This came with extra difficulties such as divvying up tasks evenly, merging conflicting code and keeping up with where everybody was. We decided it'd be a good idea to give each person a task which we weren't comfortable with in order to challenge ourselves. With that in mind, the 4Rum was born.</p>
      <p><b>Tech used:</b> Git merge(!!), Ajax, Bootstrap, HTML5, CSS3.</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!-- Duck Hunt -->
    <div id="duckhuntmodal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 class="modal-title">Duck Hunt</h2>
      
      <div class="links-centered">  
        <a class="lead" href="carolinebenn.github.io" target="_blank">heytheresducksoverhere.com</a>
        <span> // </span>
        <a class="lead" href="https://github.com/CarolineBenn/ProjectOne" target="_blank">Github</a>
      </div>
      
      <p>Based on the classic 80s game of the same name, Duck Hunt is a two player point and click shooting game. Who can shoot the most ducks?</p>
      <p><b>Tech used:</b>  JavaScript, jQuery, HTML5, CSS3, Zurb Foundation.</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>


  </div>    <!-- End of .row.projects -->
</div>      <!-- End of #effect       -->
