<div class="row">
  <div class="medium-12 columns section-header">
   <!-- <h3>Web Design</h3> -->
  </div>
</div>

<div id="effect" class="effects clearfix">
  <div class="row projects"> 
    
    <div id="thinkjeannie" class="medium-4 columns">
      <div class="img">
        <%= image_tag 'thinkjeannie' %>
        <div class="overlay">
          <a href="#" data-reveal-id="thinkjeanniemodal" class="expand">+</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
    </div>


    <div id="medlist" class="medium-4 columns">
      <div class="img">
        <%= image_tag 'medlist' %>
        <div class="overlay">
          <a href="#" data-reveal-id="medlistmodal" class="expand">+</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
    </div>

    <!-- thinkjeannie -->
    <div id="thinkjeanniemodal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 class="modal-title">thinkjeannie</h2>
      <p class="lead">Your couch.  It is mine.</p>
      <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!-- medlist -->
    <div id="medlistmodal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 class="modal-title">medlist</h2>
      <p class="lead">somebodybeerme.com</p>
      <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </div>    <!-- End of .row.projects -->
</div>      <!-- End of #effect       -->
