<section id="intro" class="one-hundred">
    <%= render 'partials/intro' %>
</section>

<section id="web-development" class="one-hundred">
  <%= render 'partials/webdevelopment' %>
</section>

<section id="web-design" class="one-hundred">
  <%= render 'partials/webdesign' %>
</section>

<footer id="footer" class="one-hundred">
  <%= render 'partials/footer' %>
</footer>



<!-- 

<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="arrival"><a href="#arrival">Build with HTML</a></dd>
    <dd data-magellan-arrival="destination"><a href="#destination">Arrival 2</a></dd>
  </dl>
</div>

<div class="row" style="background-color: #ddd; height: 700px">
</div>



<h3 data-magellan-destination="arrival">Arrival</h3>
<a name="arrival"></a>

  <div class="row" style="background-color: #f3a; height: 700px">
  </div>

  <div class="row" style="background-color: #ddd; height: 700px">
  </div>


<h3 data-magellan-destination="destination">Destination</h3>
<a name="destination"></a> -->